* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(123, 158, 158);
}

.container {
    height: 30em;
    width: 60%;
    margin: 0 auto;
    margin-top: 5em;
    background-color: #8f7d7d;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

p {
    font-size: 2em;
}