* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #8f7d7d;
    min-width: 321px;
}

.container {
    height: 30em;
    width: 60%;
    margin: 0 auto;
    margin-top: 5em;
    background-color: rgb(123, 158, 158) ;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

button[type="submit"] {
    outline: none;    
    bottom: 3em;
    left: 43%; 
    padding: .6em 1em;
    border-radius: 3px;
    border: 2px solid #555;
    color: #222;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button[type="submit"]:hover {
    background-color: #8f7d7d;
    color: #fff;
}

.btn-frase {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 2.2em;
    position: absolute;
}

.wrap-frases {
    padding: 25px;
    position: relative;
    font-size: 2em;
    color: #fff;
}

.autor {
    padding: 10px;
    position: relative;
    font-size: 1.5em;
    color: #fff;
}

.autor-container {
    top: 12em;
    right: 3em;
    position: absolute;
}

@media (max-width: 964px) {
    html {
        font-size: 55%;
    }
   
    .autor-container {
        top: 16em;
    }
    }

@media (max-width: 634px) {
.wrap-frases {
    font-size: 1.5em;
}

.autor-container {
    right: 1%;
}

button[type="submit"] {
    padding: .3em .3em;
}
}

@media (max-width: 470px) {
button[type="submit"] {
    padding: .3em .6em;
}
}

@media (max-width:364px) {
    html {
        font-size: 30%;
    }
}


@media (max-width:300px) {
    html {
        font-size: 50%;
    }
}
