* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #8f7d7d;
}

.container {
    height: 30em;
    width: 60%;
    margin: 0 auto;
    margin-top: 5em;
    background-color: rgb(123, 158, 158) ;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

button[type="submit"] {
    padding-bottom: 0;
    outline: none;    
    bottom: 3em;
    left: 43%; 
    padding: .6em 1em;
    border-radius: 3px;
    border: 2px solid #555;
    color: #222;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
}

button[type="submit"]:hover {
    background-color: #8f7d7d;
    color: #fff;
}

.wrap-frases {
    padding: 25px;
    position: relative;
    font-size: 2em;
    color: #fff;
}

.autor {
    padding: 10px;
    position: relative;
    font-size: 1.5em;
    color: #fff;
}

.autor-container {
    top: 12em;
    right: 3em;
    position: absolute;
}